.reversed {
  transform: rotate(180deg);
}

.upright {
    
}

#images {
  display: flex;
  flex-flow: row;
  margin: 1em;
}

figure {
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}

input {
    margin: 1em;
}